<style>
    * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --purple: hsl(240, 80%, 89%);
  --pink: hsl(0, 59%, 94%);
  --light-bg: hsl(204, 37%, 92%);
  --light-gray-bg: hsl(0, 0%, 94%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 7%);
  --text-gray: hsl(0, 0%, 30%);
}

body {
  background: var(--light-bg);
  font-family: "Space Grotesk", sans-serif;
  color: var(--dark);
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: var(--text-gray);
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  justify: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 44px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 20px;
  margin-left: 50px;
  background: #fff;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--purple);
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
}

.button:hover {
  background: var(--purple);
}

.fill-one {
  background: var(--light-bg);
}

.fill-two {
  background: var(--pink);
}

.txt{
    margin-top: 20px;
    border: none;
    height:40px;
    width:300px;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
}
/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}
h3{

    margin-top: 50px;
}
#jkk{
    margin-top: 20px;
    border: none;
    height:40px;
    width:300px;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
}
.btn{
    margin-top: 20px;
    border: 1px solid black;
    height:30px;
    width:100px;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
}
</style>
<center><h3>Events of {{institutename}}</h3></center>
<center>
    
<h3>Filter</h3>
<form action="#">
    <div class="row">
        <div class="col-lg-12">
            <div class="single_field">
                <input type="text" id="searchbar" class="txt" onkeyup="seac()" placeholder="Search keyword">
            </div>
        </div>
      
    
       
      
      
      
    </div>
</form>
</center>
<center>
<h3>Filter using categories</h3>
    <select id="jkk">
        <option value="hackathon">Hackathons</option>
        <option value="enterpreneur">Enterepreneurship Summit</option>
        <option value="Fest">Fests </option>
       
</select>
<div class="reset_btn">
    <input type="button"  class="btn" value="Search" onclick="seach()">
</div>
</center>
<div class=" wrap">
    <div id="write"></div>
    {%for eve in collegeevents%}
    <div class="animals box">
      <div class="box-top">
        <img class="box-image" src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="{{eve.tag}}">
        <div class="title-flex">
          <h3 class="box-title">{{eve.title}}</h3>
          <p class="user-follow-info">No. of participants registered : {{eve.participants}}</p>
          <p class="user-follow-info">Date : {{eve.eventdate}}/{{eve.eventmonth}}/{{eve.eventyear}}</p>
      
        </div>
        <p class="description">Description : {{eve.desc}}</p>
      </div>
      <a href="/eventpage/{{eve.id}}" class="button">Register</a>
    </div>
    {%endfor%}
    
  </div>
  <script >function seac() {
    
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('animals');
  k=x.length
  jo=document.getElementById("write")
  jo.style.display="none"
   c=0
      
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            c++
            x[i].style.display="none";
        }
        else {
            x[i].style.display="BLOCK";                 
        }
        if(c==k)
        {jo.style.display="block"
           
        }
      }
    }
    function seach() {
                        let input = document.getElementById('jkk').value
                        input=input.toLowerCase();
                        let x = document.getElementsByClassName('animals');
                      k=x.length
                      jo=document.getElementById("write")
                      jo.style.display="none"
                       c=0
                      
                          console.log(x.innerHTML)
                        for (i = 0; i < x.length; i++) { 
                            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                c++;
                                x[i].style.display="none";
                            }
                            else {
                                x[i].style.display="BLOCK";                 
                            }
                            if(c==k)
                            {jo.style.display="block"
                               
                            }
                          }
                        }
</script>