<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Event Conducted</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/imgg/favicon.png" rel="icon">
  <link href="static/imgg/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/libb/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/libb/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/libb/animate/animate.min.css" rel="stylesheet">
  <link href="static/libb/venobox/venobox.css" rel="stylesheet">
  <link href="static/libb/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/csss/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
            {% if user.is_authenticated %}
  {% else %} 
  <li><a href="/logincollege">CollegeLogin</a></li>
        
  {%endif%}
          {% if user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
  {% else %} 
  
  <li><a href="login">StudentLogin</a></li>
  {%endif%}
            {% if user.is_authenticated %}
            <li><a href="/myregev">Your registered events</a></li>
     
        {% else %} 
                 
        {%endif%}
         
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn"> {% if user.is_authenticated %}
        <h1 class="mb-4 pb-0">Hello, {{user.first_name}} Events<br><span>Going </span> on</h1>
   
    {% else %}
    <h1 class="mb-4 pb-0">Events<br><span>Going </span> on</h1>
    {% endif %}
        
      <a href="#about" class="about-btn scrollto">About The Patform</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Platform</h2>
            <p>List of all the activities conducted by college and other educational institutions</p>
          </div>
          <div class="col-lg-3">
            <!-- <h3>Where</h3>
            <p>Downtown Conference Center, New York</p> -->
          </div>
          <div class="col-lg-3">
            <!-- <h3>When</h3>
            <p>Monday to Wednesday<br>10-12 December</p> -->
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
   

    <!--==========================
      Schedule Section
    ============================-->
  </form>
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Schedule of some events</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Ongoing events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Upcoming events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Past events</a>
          </li>
        </ul>

        
        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade active" id="day-1">
            {%for eve in events2022%}
            <div class="row schedule-item">
              <h3 class="card-text" id="eventtag" style="text-align:center;margin: color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;border-radius:32px;width:120px;align-items:center;" type="submit">{{eve.tag}}</button></h3>
   
              <div class="col-md-2"><time>{{eve.eventdate}}/{{eve.eventmonth}}/{{eve.eventyear}} </time></div>
              <div class="col-md-2"><time>{{eve.eventday}}</time></div>
            <div class="col-md-2">{{eve.header}}</div>
            <div class="col-md-2">{{eve.organizer}}</div>
         
              <div class="col-md-10">
                <div class="speaker">
                  <img src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="">
                </div>
                <h4>{{eve.title}} <span></span></h4>
                <p>{{eve.desc}}</p>
                <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{eve.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>
 
              </div>
            </div>
{% endfor %}
         
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
            {%for eve in events2023%}
            <div class="row schedule-item">
              <h3 class="card-text" id="eventtag" style="text-align:center; color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;border-radius:32px;width:120px;align-items:center;" type="submit">{{eve.tag}}</button></h3>
   
              <div class="col-md-2"><time>{{eve.eventdate}}/{{eve.eventmonth}}/{{eve.eventyear}} </time></div>
              <div class="col-md-2"><time>{{eve.eventday}}</time></div>
            <div class="col-md-2">{{eve.header}}</div>
            <div class="col-md-2">{{eve.organizer}}</div>
         
              <div class="col-md-10">
                <div class="speaker">
                  <img src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="">
                </div>
                <h4>{{eve.title}} <span></span></h4>
                <p>{{eve.desc}}</p>
                 <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{eve.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>
 
              </div>
            </div>
{% endfor %}
         
          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
            {%for eve in events2021%}
            <div class="row schedule-item">
              <h3 class="card-text" id="eventtag" style="text-align:center; color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;border-radius:32px;width:120px;align-items:center;" type="submit">{{eve.tag}}</button></h3>
   
              <div class="col-md-2"><time>{{eve.eventdate}}/{{eve.eventmonth}}/{{eve.eventyear}} </time></div>
              <div class="col-md-2"><time>{{eve.eventday}}</time></div>
            <div class="col-md-2">{{eve.header}}</div>
            <div class="col-md-2">{{eve.organizer}}</div>
         
              <div class="col-md-10">
                <div class="speaker">
                  <img src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="">
                </div>
                <h4>{{eve.title}} <span></span></h4>
                <p>{{eve.desc}}</p>
               <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{eve.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>
 
              </div>
            </div>
{% endfor %}
         
          </div>

            <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>
    <section id="hotels" class="section-with-bg wow fadeInUp">
      <form method="POST" action="search">
      {%csrf_token%}
      <center>  <input class="form-control mr-sm-2" style="height: 50px; margin:15px;color: red;width: 500px;border-radius:32px;" type="search" name="eventname" placeholder="Search by name of event" aria-label="Search">
        <button class="btn btn-warning my-2 my-sm-0" style="height: 50px;margin:15px;border-radius:32px;width:100px;" type="submit">Search</button></center></form>
        {%for eve in eventss%}
        <div class="row schedule-item">
          <h3 class="card-text" id="eventtag" style="text-align:center; color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;margin:15px;border-radius:32px;width:120px;align-items:center;" type="submit">{{eve.tag}}</button></h3>

          <div class="col-md-2"><time>{{eve.eventdate}}</time></div>
          <div class="col-md-2"><time>{{eve.eventmonth}}</time></div>
        <div class="col-md-2"><time>{{eve.eventday}}</time></div>
        <div class="col-md-2"><time>{{eve.eventyear}}</time></div>
     
          <div class="col-md-10">
            <div class="speaker">
              <img style="height:50px;width:50px;" src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="">
            </div>
            <h4>{{eve.header}} <span></span></h4>
            <p>{{eve.desc}}</p>
            <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{eve.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>

          </div>
     {%endfor%}
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
      
      

        
        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade">
            {%for eve in eventss%}
            <div class="row schedule-item">
              <h3 class="card-text" id="eventtag" style="text-align:center; color:orange;font-family: algerian;"><button class="btn btn-danger" style="height: 50px;border-radius:32px;width:120px;align-items:center;" type="submit">{{eve.tag}}</button></h3>
   
              <div class="col-md-2"><time>{{eve.eventdate}}</time></div>
              <div class="col-md-2"><time>{{eve.eventmonth}}</time></div>
            <div class="col-md-2"><time>{{eve.eventday}}</time></div>
            <div class="col-md-2"><time>{{eve.eventyear}}</time></div>
         
              <div class="col-md-10">
                <div class="speaker">
                  <img src="https://source.unsplash.com/1600x900/?{{eve.title}},{{eve.tag}}" alt="">
                </div>
                <h4>{{eve.header}} <span></span></h4>
                <p>{{eve.desc}}</p>
                <h3 class="card-text" id="eventinfo" style="text-align:right; color:orange;font-family: sans seriff;padding-top:20px;padding-bottom:5px;"><a href="eventpage/{{eve.id}}"><button class="btn btn-dark" style="height: 50px;width:120px;align-items:center;" type="submit">More Info</button></a></h3>
 
              </div>
            </div>
{% endfor %}
         
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
      
            <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>

    <!--==========================
      Venue Section
    ============================-->
    

    <!--==========================
      Hotels Section
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">
    <center>  <input class="form-control mr-sm-2" id="jkk" style="height: 50px; color: red;width: 500px;border-radius:32px;margin:15px;" type="text" placeholder="Search by name of institutions" aria-label="Search">
      <input type="button"  value="Search" class="btn btn-warning my-2 my-sm-0" style="height: 50px;border-radius:32px;width:100px;margin:15px;" onclick="seach()"></center>

      <div class="container">
        <div class="section-header">
          <h2>Institutions</h2>
          <p>Here are some institutions</p>
        </div>
<script>
   function seach() {
                        let input = document.getElementById('jkk').value
                        input=input.toLowerCase();
                        let x = document.getElementsByClassName('animals');
                      k=x.length
                    
                       c=0
                      
                          console.log(x.innerHTML)
                        for (i = 0; i < x.length; i++) { 
                            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                c++;
                                x[i].style.display="none";
                            }
                            else {
                                x[i].style.display="BLOCK";                 
                            }
                            if(c==k)
                            {jo.style.display="block"
                               
                            }
                          }
                        }
</script>
</script>
        <div class="row">
{% for college in colleges %}
         <a href="collegeevent/{{college.uniqid}}"> <div class="animals col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="https://source.unsplash.com/1600x900/?college" alt="Hotel 1" class="img-fluid">
              </div>
              <h3><a href="#">{{college.name}}</a></h3>
              <div class="stars">
                <!-- <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> -->
              </div>
              <p>{{college.address}}</p>
             
            </div>
          </div></a>
          {%endfor%}

        
        </div>
      </div>

    </section>

    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="static/imgg/gallery/1.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/1.jpg" alt=""></a>
        <a href="static/imgg/gallery/2.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/2.jpg" alt=""></a>
        <a href="static/imgg/gallery/3.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/3.jpg" alt=""></a>
        <a href="static/imgg/gallery/4.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/4.jpg" alt=""></a>
        <a href="static/imgg/gallery/5.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/5.jpg" alt=""></a>
        <a href="static/imgg/gallery/6.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/6.jpg" alt=""></a>
        <a href="static/imgg/gallery/7.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/7.jpg" alt=""></a>
        <a href="static/imgg/gallery/8.jpg" class="venobox" data-gall="gallery-carousel"><img src="static/imgg/gallery/8.jpg" alt=""></a>
      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <!-- <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/imgg/supporters/8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section> -->

    <!--==========================
      F.A.Q Section
    ============================-->
    <!-- <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq5" class="collapse" data-parent="#faq-list">
                    <p>
                      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq6" class="collapse" data-parent="#faq-list">
                    <p>
                      Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                    </p>
                  </div>
                </li>
      
              </ul>
          </div>
        </div>

      </div>

    </section> -->

    <!--==========================
      Subscribe Section
    ============================-->
    <!-- <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
        </div>

        <form method="POST" action="#">
          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>
        </form>

      </div>
    </section> -->

    <!--==========================
      Buy Ticket Section
    ============================-->
   

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>NIT WARANGAL.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>NIT WARANGAL</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+91 8340729647</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">ak21eeb0b08@student.nitw.ac.in</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/libb/jquery/jquery.min.js"></script>
  <script src="static/libb/jquery/jquery-migrate.min.js"></script>
  <script src="static/libb/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/libb/easing/easing.min.js"></script>
  <script src="static/libb/superfish/hoverIntent.js"></script>
  <script src="static/libb/superfish/superfish.min.js"></script>
  <script src="static/libb/wow/wow.min.js"></script>
  <script src="static/libb/venobox/venobox.min.js"></script>
  <script src="static/libb/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/jss/main.js"></script>
</body>

</html>
